body {
    font-family: Arial, sans-serif;
     background: url("/static/images_years/Image_05.jpg") no-repeat center center;
    margin: 0;
    padding: 0;
}

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    background: #ffffffda;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.contact-container:hover {
    transform: scale(1.02);
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form .btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.contact-form .btn:hover {
    background-color: #218838;
}
