body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("/static/images_years/Image_05.jpg") no-repeat center center;
    margin: 0;
    padding: 0;
}

.subscribe-container {
    max-width: 600px;
    margin: 50px auto;
    background: #e6e5e5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #e6e5e5;
    border-radius: 4px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a761;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #20bec4;
    color:black;
}
.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
}
